<h1>Editing Document Type</h1>

<%= render 'form' %>

<%= link_to 'Display', @doc_type, :class=>"btn btn-default btn-lg active" %> |
<%= link_to 'Return to Index', doc_types_path, :class=>"btn btn-default btn-lg active" %>
