<div id="status-guide" style="float:left; ">
	<div class="status row span12">
		<h4>Expiration Status</h4>
		<span class="span3">
			<span class="glyphicon glyphicon-exclamation-sign" style="color:red; font-size: 1.2em;"></span> Document is expired.
        </span>
        <span class= "span3">	
            <span class="glyphicon glyphicon-info-sign"  style="color:#FFFF66; font-size: 1.2em;"></span> Expires in the next 60 days.
		</span>  
		<span class= "span4">	
            <span class="glyphicon glyphicon-ok-sign"  style="color:green; font-size: 1.2em;"></span> Expires more than 60 days from now.
		</span>          		
	</div>
	<div class="status row span12">
		<h4>Verification Status</h4>
		<span class="span3">
			<span class="glyphicon glyphicon-exclamation-sign" style="color:red; font-size: 1.2em;"></span> There is a verification issue.
        </span>
        <span class= "span3">	
            <span class="glyphicon glyphicon-info-sign"  style="color:#FFFF66; font-size: 1.2em;"></span> Verification Pending
		</span>  
		<span class= "span3">	
            <span class="glyphicon glyphicon-ok-sign"  style="color:green; font-size: 1.2em;"></span> Document Verified
		</span>          		
	</div>	
</div>
