<div class="page-header"><span class="span6"><h1>Listing documents</h1></span>
<span class="span8"><%= render 'statusguide' %></span></div>

<%= render 'index' %>

<%= link_to 'New Document', new_document_path, :class=>"btn btn-primary btn-lg active" %>
