<%= render 'display' %>


<p>&nbsp;</p>
<%= link_to 'Edit', edit_document_path(@document), :class=>"btn btn-primary btn-lg active" %> |
<%= link_to 'Return to All Documents', documents_path, :class=>"btn btn-default btn-lg active"  %>
